<div class="container pt-3 mt-5">
    <span class="text-center fw-bold" style="color:rgb(172, 143, 3)">OUR OFFERINGS</span>
    <p class="fw-bold text-center fs-3">The Services</p>
    <div class="row underline-border-services"></div>

    <div class="row mt-3">
        <div class="col-md-4 col-11 mb-4"> <!-- card -->
            <div class="service-card text-center p-3 shadow">
                <div class="icon-wrapper">
                    <span class="material-symbols-outlined icon-self">content_cut</span>
                </div>
                <h3 class="card-heading">Classic Haircut</h3>
                <p class="card-subHeading">Tailored scissors and clipper work, finished with a hot towel neck shave and styling.</p>
                <p class="card-pricing">R80 * 45-60 Min</p>
            </div>
        </div>

        <div class="col-md-4 col-11 mb-4"> <!-- card -->
            <div class="service-card text-center p-3 shadow card-active">
                <div class="icon-wrapper icon-active">
                    <span class="material-symbols-outlined icon-self">face</span>
                </div>
                <h3 class="card-heading">Beard Trim & Line Up</h3>
                <p class="card-subHeading">Precision shaping, straight razor edge work, and conditioning treatment for a flawless finish.</p>
                <p class="card-pricing">R60 * 30 Min</p>
            </div>
        </div>

        <div class="col-md-4 col-11 mb-4"> <!-- card -->
            <div class="service-card text-center p-3 shadow">
                <div class="icon-wrapper">
                    <span class="material-symbols-outlined">palette</span>
                </div>
                <h3 class="card-heading">Color & Dye</h3>
                <p class="card-subHeading">Subtle gray blending or full color transformation using premium, nourishing dyes</p>
                <p class="card-pricing">From R120 * 60+ Min</p>
            </div>
        </div>
    </div>

<div class="row">
    <a href="#" class="menu-btn d-flex align-items-center">
        View full services
        <span class="material-symbols-outlined ms-1">arrow_right_alt</span>
    </a>
</div>