<div class="row mx-0 p-0">
    <div class="col-6 mx-0">
        <section id="img-contact"></section>
    </div>

    <div class="col-6 mx-0 p-0">
        <div class="form-wrapper border p-2">
            <form method="post" enctype="multipart/form-data" class="container">
                <div class="pb-3">
                    <div class="row mb-3">
                        <h1 class="text-center fw-bold" style="color: #fcc914;">LET'S WORK</h1>
                        <span class="ps-4 d-flex text-center fw-bold" style="color: #8c8c8c;">
                            Contact us via
                            <span class="material-symbols-outlined px-1">mail</span>:
                            <a class="text-decoration-none" href="#">our email address link </a>
                        </span>
                    </div>

                    <div class="row mb-1 ps-4">
                        <div class="col-6 ps-3">
                            <input class="inputText text-center form-control" type="text" placeholder="Firstname" required>
                        </div>
                        <div class="col-6 ps-1">
                            <input class="inputText text-center form-control" placeholder="Faltein" type="text" required>
                        </div>
                    </div>

                    <div class="row mb-1 ps-4">
                        <div class="ps-3 w-100">
                            <input class="inputText form-control form-control" type="email" placeholder="Email Address" required>
                        </div>
                    </div>

                    <div class="row mb-1 ps-4 ">
                        <div class="ps-3 w-100 textarea-wrapper">
                            <textarea class="form-control h-100" placeholder="Message"></textarea>
                        </div>
                    </div>

                    <div class="row ps-4 mt-3">
                        <div class="ps-3 w-100">
                            <button class="btn-contact py-2 px-3" type="submit">Send Message <i class="send_icon bi bi-cursor"></i></button>
                        </div>
                    </div>

                    <div class="row ps-4 pt-3 ">
                        <span class="ms-1 " id="errorMessage">
                            * Email must end with "@gmail.com"<br>
                            * Fill in the provided fields to submit your message
                        </span>
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>